@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  display: flex;
  padding: 18.295px 26.494px 18.295px 41.325px;
  align-items: center;
  gap: 26.631px;
  border-radius: 50px;
  border: 1px solid var(--fuschia-100, #ef5da8);
  background: #ef5da8;
  box-shadow: 0px 5px 30px 0px rgba(239, 93, 168, 0.3);
}

.order_btn {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px; /* 120% */
  letter-spacing: 0.5px;
}

.food {
  width: 90px;
  height: 130px;
  border-radius: 190px;
  background: #fff;
  box-shadow: 0px 20px 30px 0px rgba(211, 209, 216, 0.25);
}
