@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  display: flex;
  padding: 18.295px 26.494px 18.295px 41.325px;
  align-items: center;
  gap: 26.631px;
  border-radius: 50px;
  border: 1px solid var(--fuschia-100, #ef5da8);
  background: #ef5da8;
  box-shadow: 0px 5px 30px 0px rgba(239, 93, 168, 0.3);
}

.order_btn {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px; /* 120% */
  letter-spacing: 0.5px;
}

.food {
  width: 90px;
  height: 130px;
  border-radius: 190px;
  background: #fff;
  box-shadow: 0px 20px 30px 0px rgba(211, 209, 216, 0.25);
}

#slider {
  perspective: 1400px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}

input[type=radio] {
  position: relative;
  top: 56%;
  width: 15px;
  height: 15px;
  margin: 0 15px 0 0;
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  color: #ef5da8;
  border: 0.15em solid #ef5da8;
  border-radius: 50%;
}

#slider input[type=radio]:checked {
  background-color: #ef5da8;
}

#slider label {
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  transition: transform 400ms ease;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5,
     #s6:checked ~ #slide6,
      #s7:checked ~ #slide7 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide6,
     #s6:checked ~ #slide7,
      #s7:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide6,
    #s5:checked ~ #slide7,
     #s6:checked ~ #slide1,
      #s7:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}
    
/* Next to Next to Next Slide */
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
   #s4:checked ~ #slide7,
    #s5:checked ~ #slide1,
     #s6:checked ~ #slide2,
      #s7:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(60%, 0, -400px);
}

/* Previous to Previous to Previous Slide */
#s1:checked ~ #slide5,
 #s2:checked ~ #slide6,
  #s3:checked ~ #slide7,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2,
     #s6:checked ~ #slide3,
      #s7:checked ~ #slide4 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-60%, 0, -400px);
}

    
/* Previous to Previous Slide */
#s1:checked ~ #slide6,
 #s2:checked ~ #slide7,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3,
     #s6:checked ~ #slide4,
      #s7:checked ~ #slide5 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide7,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4,
     #s6:checked ~ #slide5,
      #s7:checked ~ #slide6 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}


/*___Responsive Media Queries___*/

@media screen and (min-width: 768px) {
  #slider label > div:first-child {
    width: 350px;
  }

  /* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
 #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
   #s5:checked ~ #slide5,
    #s6:checked ~ #slide6,
     #s7:checked ~ #slide7 {
 box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
 transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
 #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
   #s5:checked ~ #slide6,
    #s6:checked ~ #slide7,
     #s7:checked ~ #slide1 {
 box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
 transform: translate3d(40%, 0, -200px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
 #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
   #s5:checked ~ #slide7,
    #s6:checked ~ #slide1,
     #s7:checked ~ #slide2 {
 box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
 transform: translate3d(80%, 0, -300px);
}
   
/* Next to Next to Next Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
 #s3:checked ~ #slide6,
  #s4:checked ~ #slide7,
   #s5:checked ~ #slide1,
    #s6:checked ~ #slide2,
     #s7:checked ~ #slide3 {
 box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
 transform: translate3d(120%, 0, -400px);
}

/* Previous to Previous to Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
 #s3:checked ~ #slide7,
  #s4:checked ~ #slide1,
   #s5:checked ~ #slide2,
    #s6:checked ~ #slide3,
     #s7:checked ~ #slide4 {
 box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
 transform: translate3d(-120%, 0, -400px);
}

   
/* Previous to Previous Slide */
#s1:checked ~ #slide6,
#s2:checked ~ #slide7,
 #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
   #s5:checked ~ #slide3,
    #s6:checked ~ #slide4,
     #s7:checked ~ #slide5 {
 box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
 transform: translate3d(-80%, 0, -300px);
}

/* Previous Slide */
#s1:checked ~ #slide7,
#s2:checked ~ #slide1,
 #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
   #s5:checked ~ #slide4,
    #s6:checked ~ #slide5,
     #s7:checked ~ #slide6 {
 box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
 transform: translate3d(-40%, 0, -200px);
}

}

@media screen and (min-width: 1100px) {
  #slider label > div:first-child {
    width: 480px;
  }
}